@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  hex-codes:

  primary: #A978DE
  text: #F4F4F5
  text-secondary: #A1A1AA
  background-color: #09090B
  card: #18181B
  input: #55555a
  info: #69bbf9;
  info-foreground: #092848;
  warning-foreground: #361900;
  warning: #ff9300;
  danger: #ff565f;
  danger-foreground: #440d13;
  success: #00ca50;
  success-foreground: #00320b
  popover: #0C0C0C
*/

@layer base {
  html {
    @apply scroll-smooth bg-background text-muted antialiased;
  }

  * {
    @apply border-border outline-offset-4;
  }
}

.purple-tag {
  @apply text-primary hover:text-primary/80;
}

/* shadcn dropdown hides scroll when it's open */
body[data-scroll-locked] #main-header {
  padding-right: var(--removed-body-scroll-bar-size);
}

img {
  object-fit: cover;
}
